* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
}

.j3 {
    display: flex;
    margin: 30px 0 0 20px;
    padding-right: 20px;
    width: 20%;
    border-right: 1px solid gray;
}

.ul {
    margin: 45px 0 0 20px;
}

.li {
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}

.train {
    background-image: url('./icon/chevron.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 85px;
    padding-right: 25px;
}

.li>a {
    text-decoration: none;
    color: black;
}

.li>a:hover {
    color: #006838;
    transition: 0.5s;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 90vh;
    display: flex;
}

.main-left {
    width: 55%;
    height: 90vh;
}

h1 {
    padding: 20% 0 0 20px;
    color: #006838;
    font-size: 40px;
}

p {
    padding: 30px 0 0 20px;
    color: gray;
}

.main-right {
    height: 90vh;
    width: 45%;
}

.img1 {
    width: 530px;
    margin: 140px 0 0 35px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    box-shadow: 0 2px 10px gray;
}

.con-left {
    width: 50%;
}

.img2 {
    width: 520px;
    margin: 130px 0 0 20px;
    display: inline-block;
}

.con-right {
    width: 50%;

}

.container>h1 {
    margin: -800px 0 0 80px;
    display: inline-block;

}

.container>p {
    position: relative;

}

.container2 {
    width: 100%;
    height: 100vh;
    display: inline-block;
    text-align: center;
}

.container2>img {
    margin-top: 40px;
    width: 220px;
    border-radius: 170px;
}

.container2>h1 {
    margin-top: -200px;
    font-size: 45px;
}

.container2>p {
    margin-top: -10px;
}

.para2 {
    font-size: 20px;
}

.container3 {
    width: 100%;
    height: 180vh;
    text-align: center;
    box-shadow: 0 2px 10px gray;
}

.container3>h1 {
    font-size: 45px;
}

.cards1 {
    margin-top: 30px;
    display: flex;
    padding-left: 30px;
}

.cards2 {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.mobile,
.graphic {
    width: 25%;
    height: 40%;
    padding: 10px;
    border-radius: 16px;
    margin: 40px;
    transition: 0.6s ease-in-out;
}

.mobile:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.02);
    z-index: 999;
    cursor: pointer;
}

.graphic:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.02);
    z-index: 999;
    cursor: pointer;
}

.mobile>img {
    width: 100%;
    border-radius: 20px;
}

.graphic>img {
    width: 100%;
    height: 30vh;
    border-radius: 20px;
}

.mobile>p {
    font-size: 20px;
    color: gray;
}

.container4 {
    width: 100%;
    height: 185vh;
    border-bottom: 1px solid rgb(226, 224, 224);
    ;
}

.container4>h1 {
    text-align: center;
    font-size: 45px;
    margin-top: -160px;
}

.images {
    display: flex;
    margin-top: 60px;
}

.images1 {
    width: 50%;
    padding: 15px 0px 10px 10px;
}

.images2 {
    width: 50%;
    padding: 15px 0px 10px 0;
}

.sindh,
.session {
    width: 300px;
    height: 269px;
    padding-right: 5px;
}

.session2 {
    width: 300px;
    height: 270px;
}

.onsite {
    width: 615px;
    height: 70vh;
}

.freelancing {
    width: 300px;
    height: 269px;
    padding-right: 10px;
}

.mehran {
    width: 610px;
    height: 70vh;
}

.container5 {
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 224, 224);
}

.form {
    width: 45%;
    height: 90vh;
    color: gray;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 1px 1px 20px gray;
}

input {
    margin-top: 5px;
    padding-left: 10px;
    font-size: 15px;
    width: 100%;
    height: 7vh;
    border: none;
    border: 1px solid rgb(226, 224, 224);
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid #006838;
}

span {
    color: red;
}

textarea {
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 17px;
    color: gray;
    width: 100%;
    height: 20vh;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(226, 224, 224);
}

textarea:focus {
    outline: none;
    border: 1px solid #006838;
}

button {
    margin-top: 20px;
    width: 102%;
    height: 8vh;
    font-size: 17px;
    font-weight: 800;
    color: white;
    background-color: #006838;
    border: none;
    border: 2px solid #006838;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #006838;
    transition: 0.5s;
}

.container6 {
    width: 100%;
    height: 35vh;
    display: flex;
}

.logo {
    width: 30%;
    height: 30vh;
    display: flex;
}

.logo>img {
    width: 75%;
    height: 8vh;
    margin: 80px 0 0 30px;
}

.company {
    width: 40%;
    height: 30vh;
}

.contact {
    width: 30%;
    height: 30vh;
}


h4 {
    padding-top: 20px;
    margin-left: 80px;
    color: #064d2b;
}

.ul2 {
    list-style: none;
}

.li2>a {
    text-decoration: none;
    color: #058b4c;
    font-size: 15px;
}

.li2>a:hover {
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

.home {
    padding-top: 5px;
}

.li2 {
    margin: 0px 0 5px 80px;

}

.h4 {
    margin-top: 10px;
    margin-left: 30px;
}

.para1 {
    padding: 20px 0 5px 30px;
}

.para {
    padding: 0 0 5px 30px;

}

.para1:hover {
    color: #0d673d;
    transition: 0.5s;
}

.para:hover {
    color: #0d673d;
    transition: 0.5s;
}

footer {
    width: 100%;
    height: 8vh;
}

.footer {
    width: 100%;
    height: 9vh;
    display: flex;
    background-color: rgb(228, 252, 228);
}

.p {
    width: 90%;

}

.para3 {
    padding: 16px 0 20px 20px;
    font-family: 8px;
}

.i {
    padding-left: 40px;
}

i {
    margin-top: 15px;
    padding-right: 5px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}